/* light scheme */
:root[color-mode="light"] {
  --bg-body: #f9f9f9;
  --color-text-base: #555555;
  --color-text-a: #555555;
  --color-text-a-hover: #222222;
  --color-text-a-active: #000000;
  --color-text-sub: #8e8e8e;
  --color-text-md-title: #333333;
  --color-text-md-content: #444444;
  --color-text-md-code: #d45d00;
  --bg-text-md-code: #f0f0f0;
  --bg-block-md-quote: #f0f0f0;
  --color-block-md-quote: #666666;
  --color-divider-md-border: #e0e0e0;
  --bg-content-search: rgb(255 255 255 / 80%);
  --bg-block-md-pre: #f2f2f2;
  --color-text-md-pre: #555555;
  --bg-block-md-table: #ffffff;
  --bg-block-md-table-2: #f7f7f7;
  --color-border-md-table: #e0e0e0;
}

/* dark scheme */
:root[color-mode="dark"] {
  --bg-body: #2d2d2d;
  --color-text-base: #cccccc;
  --color-text-a: #cccccc;
  --color-text-a-hover: #ffffff;
  --color-text-a-active: #ffffff;
  --color-text-sub: #999999;
  --color-text-md-title: #e0e0e0;
  --color-text-md-content: #dddddd;
  --color-text-md-code: #ff8c00;
  --bg-text-md-code: #383838;
  --bg-block-md-quote: #383838;
  --color-block-md-quote: #aaaaaa;
  --color-divider-md-border: #444444;
  --bg-content-search: rgb(45 45 45 / 80%);
  --bg-block-md-pre: #383838;
  --color-text-md-pre: #cccccc;
  --bg-block-md-table: #2d2d2d;
  --bg-block-md-table-2: #333333;
  --color-border-md-table: #444444;
}