.article-entry pre,
.article-entry .highlight {
  background: #282a36;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #44475a;
  border-width: 1px 0;
  overflow: auto;
  color: #f8f8f2;
  line-height: 22.400000000000002px
}

.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #6272a4;
  font-size: .85em
}

.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
}

.article-entry code {
  background: var(--bg-text-md-code);
  color: var(--color-text-md-code);
  padding: 0 .3em
}

.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0
}

.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0
}

.article-entry .highlight table {
  margin: 0;
  width: auto
}

.article-entry .highlight td {
  border: none;
  padding: 0
}

.article-entry .highlight figcaption {
  font-size: .85em;
  color: #6272a4;
  line-height: 1em;
  margin-bottom: 1em;
}

.article-entry .highlight figcaption a {
  float: right
}

.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px
}

.article-entry .highlight .line {
  height: 22.400000000000002px
}

.article-entry .highlight .line.marked {
  background: #44475a
}

.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #44475a;
  border-width: 1px 0;
  background: #282a36;
  padding: 15px 20px 15px 0;
}

.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}

.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}

.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0
}

.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important
}

.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none
}

.article-entry .gist .gist-file .gist-meta {
  background: #282a36;
  color: #6272a4;
  font: .85em -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}

.article-entry .gist .gist-file .gist-meta a {
  color: #8be9fd;
  font-weight: normal;
}

.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline
}

pre .comment {
  color: #6272a4
}

pre .title {
  color: #50fa7b
}

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo,
pre .class {
  color: #8be9fd
}

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #bd93f9
}

pre .ruby .class .title,
pre .css .rules .attribute {
  color: #50fa7b
}

pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #f1fa8c
}

pre .css .hexcolor {
  color: #bd93f9
}

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #50fa7b
}

pre .keyword,
pre .javascript .function {
  color: #ff79c6
}

.markdown-body .highlight {
  color: #f8f8f2;
  background-color: #282a36;
  border-radius: 5px;
}

.markdown-body .highlight table td {
  padding: 0;
  border: none;
}

.markdown-body .highlight table tr {
  border: none;
}

.markdown-body .highlight .gutter pre {
  color: #6272a4;
  background: #282a36;
}

.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #282a36 !important;
}

.markdown-body .highlight table tbody pre {
  border-radius: 0;
}

details summary {
  outline: none;
  cursor: pointer;
}
figure {
  position: relative;
}

figure figcaption {
  padding-left: 1rem;
  background-color: #282a36;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

figure table .gutter {
  user-select: none;
}

figure .pin-copy {
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
}
