.footer {
  padding: 20px 0;
  font-size: 1.2rem;
  color: #666;
  flex: 0 0 auto;
  .social {
    padding-bottom: 5px;
    ul {
      text-align: center;
      li {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
  .footer-more {
    padding-bottom: 5px;
    text-align: center;
  }
  .footer-views {
    padding-bottom: 5px;
    text-align: center;
  }
}
